<!--use this wrapper to keep everything within page!-->
<div id="page-home" class="page">
  <h1>WELCOME TO THE HOME PAGE</h1>
  <div id="welcome-message-component-block">
    {% include "components/welcome-message/welcome-message-index.njk" %}
  </div>
</div>
