{% import "components/welcome-message/welcome-message-index.njk" as welcomeMessage %}

<!--use this wrapper to keep everything within page!-->
<div id="page-home" class="page hidden">
  <div id="welcome-message-component-block">
    {{welcomeMessage.getPage('HOME_PAGE')}}
  </div>
</div>
