// for navigator
.hidden {
  display: none !important;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: $color-gray-light;
}

.page {
  height: 55em;
  padding: 5rem 0;
}
