// for navigator
.hidden {
  display: none;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.page {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 5rem 0;
}
