// for navigator
.hidden {
  display: none !important;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: $color-gray-light;
}

.page {
  height: 55em;
  padding: 5rem 0;
}

.code-snippet {
  background-color: rgba(100, 100, 100, .2);
  padding: .5em;
  font-family: monospace;
  border-radius: 8%;
}
