{% extends "./general/views/layout.njk" %}
{% block content %}

  <!--PAGES-->
	{% include './pages/about/about-index.njk' %}
	{% include './pages/error/error-index.njk' %}
  {% include "./pages/home/home-index.njk" %}

{% endblock %}
